body {
    margin: 0;
    font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
}

body * {
    box-sizing: border-box;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.button {
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    border: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.header {
    background-color: black;
    font-size: 11px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.logo {
    color: #E3B873;
    font-size: 13px;
}

.header-navigation {
    list-style: none;
    display: flex;
}

.header-navigation_item {
    margin-right: 47px;
}

.header-navigation_item * {
    text-decoration: none;
    color: #FFFFFF;
}

.orange-text {
    color: #E3B873;
}

.header-button {
    padding: 13px 33px;
    font-style: italic;
}

.hero {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    padding-left: 134px;
    padding-right: 628px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7)
}

.hero-container {
    position: relative;
    z-index: 1;
}

.hero-title {
    margin: 0;
    font-family: "Yeseva One", 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.offer {
    position: relative;
    z-index: 1;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 19px;
    margin-bottom: 21px;
}

.left-button {
    margin: 0;
    padding: 20px 42px;
    font-style: italic;
}

.right-button {
    background-color: rgba(117, 190, 218, 0.0); 
    border-radius: 2px;
    border: 1px solid #FFFFFF;
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-left: 20px;
    padding: 20px 23px;
    font-style: italic;
}

.completed-projects {
    background-color: #131313;
    height: 1074px;
    padding-top: 107px;
    padding-left: 134px;
    padding-bottom: 415px;
}

.cp-container {
    display: grid;
    grid-template-columns: 42% 58%;
}

.description {
    margin-top: 75px;
    margin-right: 49px;
}

.title {
    margin: 0;
    font-family: "Yeseva One", 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
}

.about-projects {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
}

.specific-descriptions {
    list-style: none;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 0;
}

.sd-title {
    margin-top: 34px;
    margin-bottom: 9px;
    font-family: "Yeseva One", 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
}

.sd-text {
    margin: 0;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.arrow {
    margin-top: 74px;
}

.locations {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.location_item {
    margin-right: 60px;
}

.location_item * {
    background-color: rgba(117, 190, 218, 0.0); 
    border: 0;
    font-family: "Yeseva One", 'Times New Roman', Times, serif;
    font-size: 14px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.3);
    padding: 0 0 6px;
}

.given-location {
    border-bottom: 1px solid #E3B873;
    color: #E3B873;
}

.photo {
    margin-top: 45px;
}

.video-monitoring {
    text-align: center;
    margin-top: -311px;
}

.subtitle {
    margin: 0;
    font-family: "Yeseva One", 'Times New Roman';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.subtitle-vm {
    color: #FFFFFF;
}

.symbol {
    display: flex;
    justify-content: center;
    margin-top: 13px;
}

.symbol_item {
    margin-right: 9px;
}

.video {
    margin: 31px auto 0px;
    width: 817px;
    height: 434px;
    position: relative;
}

.video-repair {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.video-overlay {
    content: '';
    width: 817px;
    height: 434px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
}

.button-play {
    position: relative;
    top: 144px;
    bottom: 0;
    left: 0;
    right: 0;
}

.strip {
    margin: 62px 0 0;
}

.text-about-control {
    width: 681px;
    height: 131px;
    margin: 34px auto 0;
    font-size: 18px;
    line-height: 37px;
    color: #363636;
}

.form {
    margin-top: 91px;
}

.text-form {
    display: flex;
    justify-content: center;
}

.form_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.NamePhone {
    margin-right: 49px;
}

.label {
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
    transform: rotate(-0.07deg);
}

.input {
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding: 0 0 8px;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
}

.one-input {
    width: 231px;
}

.one-input::placeholder {
    color: #363636;
}

.button-submit {
    width: 200px;
    height: 51px;
    font-size: 13px;
    line-height: 27px;
}

.consent {
    margin-top: 37px;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
}

.checkbox {
    color:#E3B873
}

.types-repair{
    margin-top: 148px;
    text-align: center;
}

.hammer {
    margin: 13px 0 31px;
}

.three-types {
    display:flex;
    justify-content: center;
}

.price {
    margin-right: 30px;
}

.text-price {
    background-color: #FFFFFF;
    width: 330px;
    margin: -127px auto 0;
    padding: 25px 29px 0 34px;
    position: relative;
    text-align: start;
}
 
.price-title {
    margin: 0;
    font-family: "Yeseva One", 'Times New Roman', Times, serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #363636;
}

.price-description {
    margin: 13px 0 0;
    padding-left: 16px;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.price-button {
    border-radius: 0;
    margin: 23px 0 0 -34px;
    padding: 17px 21px;
    font-family: "Yeseva One", 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 25px;
}

.free-departure{
    display: flex;
    justify-content: center;
}

.consultation-request {
    margin-top: 124px;
}

.four-services {
    background-image: url('../images/house-drawing.jpg');
    background-size: cover;
    padding: 15px 75px 54px 249px;
}

.service {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 102px;
}

.circle-number {
    width: 42px;
    height: 42px;
    margin-right: 17px;
    background: #E3B873;
    border-radius: 50%;
    border: 0;
    font-family: "Yeseva One", 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
}

.text-service {
    font-size: 14px;
    line-height: 19px;
    color: #363636;
}

.request-departure {
    width: 506px;
    height: 509px;
    margin: 230px 100px 38px 131px;
    background-color: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.subtitle-request {
    margin: 0 0 -9px;
    padding: 28px 104px 0;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
}

.two-form {
    margin-top: 48px;
    margin-left: 49px;
}

.two-label {
    color: rgba(255, 255, 255, 0.5);
}

.two-input{
    width: 408px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #131313;
    color: #FFFFFF;
}

.two-input::placeholder {
    font-size: 14px;
    color: #FFFFFF;
}

.request-consent {
    margin: 16px 0 0 49px;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.request-button {
    width: 213px;
    height: 51px;
    margin: 39px 0 0 244px;
    border-radius: 0;
    font-size: 13px;
    line-height: 21px;
}

.save-materials {
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-left: 163px;
}

.pig-text {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

.fantasies {
    background-image: url('../images/background-picture-great-hall.jpg');
    background-size: cover;
    height: 864px;
    margin-top: 242px;
    display: flex;
    justify-content: center;
    position: relative;
}

.fantasies-overlay {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.title-with-text-about-fantasies {
    margin: 137px 77px 0 99px;
}

.design-types {
    list-style: none;
    margin-top: 47px;
    padding: 0;
}

.design-types_item {
    margin-top: 25px;
}

.link-design-types_item {
    text-decoration: none;
    color: #FFFFFF;
}

.link-design-types_item:active {
    border-bottom: 1px solid #E3B873;
    color: #E3B873;
}

.clack-on-the-closet {
    margin: -40px 43px 39px 0;
}

.hall-with-large-tabel {
    margin: -112px 0 36px;
}

.clients {
    text-align: center;
    margin-top: 110px;
}

.handshake {
    margin-top: 13px;
}

.recommendations-from-our-clients {
    margin: 24px 0 39px;
    font-size: 18px;
    line-height: 29px;
    color: #363636;
}

.people-our-customers {
    display: flex;
    justify-content: center;
}

.customer {
    width: 376px;
    margin: 0 27px;
    padding: 24px 31px 0 20px;
    text-align: left;
}

.customer-photo-name {
    display: flex;
    align-items: center; 
}

.customer-photo {
    margin-right: 23px;
}

.text-customers {
    margin: 11px 0 0;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.area-and-timing {
    margin: 63px 55px 0 -20px;
    display: flex;
    text-align: center;
    background-color: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

.logo-area-and-timing {
    margin: 0 15px 0 17px;
}

.white-line {
    border-right: 1px solid #FFFFFF;
}

.text-area-and-timing {
    margin-right: 13px;
    font-family: "Yeseva One", 'Times New Roman', Times, serif;
    font-size: 17px;
    color: #FFFFFF;
}

.city {
    height: 354px;
    background: center/60% url("../images/background-city.jpg");
    opacity: 0.05;
}

.form-question {
    margin: -222px auto 0;
    padding: 34px 181px;
    width: 883px;
    background-color: #181818;
    position: relative;
    text-align: center;
    z-index: 1;
}

.three-form {
    margin: 45px 29px 48px;
}

.three-input{
    width: 231px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #181818;
    color: #FFFFFF;
}

.three-input::placeholder {
    font-size: 14px;
    color: #FFFFFF;
}

.three-question-input {
    width: 517px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    background-color: #181818;
    color: #FFFFFF;
}

.three-question-input::placeholder {
    font-size: 14px;
    color: #FFFFFF;
}

.question-consent {
    margin: 46px 0 50px 0;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.main-office{
    background-image: url('../images/multi-storey-building.jpg');
    background-size: cover;
    margin-top: -234px;
    padding-top: 274px;
    text-align: center;
    position: relative;
}

.main-office-overlay {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.orange-subtitle {
    margin: 0 425px 26px;
    color: #E3B873;
}

.location-on-the-map {
    margin: 43px auto 66px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    height: 133px;
    align-items: center;
}
